.important-style {
    color: var(--bs-primary) !important;
    font-size: 5.5rem !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}